<div id="admin-table-dialog" class="dialog">
  <div class="box"  style="background-color: hsl(210, 15%, 15%);" >
    <div class="content-wrapper"></div>
    <div class="loading">
      {{> icons/spinner}}
    </div>
  </div>
</div>